<link href="../../css/galleryestilo.css" rel="stylesheet">
<div class="container mt-40">
    <form class=" chat-msg" ng-submit="enviar()">
        <div class="input-group mb-3">
            <input type="text" class="form-control" ng-model="message.item" placeholder="..."
                aria-label="..." aria-describedby="basic-addon2" required>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" ><i class="fa fa-search"
                aria-hidden="true"></i> Buscar</button>
            </div>
        </div>
    </form>
    <h3 class="text-center">Tipo Google só que melhor ...</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box5">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-1.jpg" alt="">
                <ul class="icon">
                    <li><a href="#" class="fa fa-search"></a></li>
                    <li><a href="#" class="fa fa-link"></a></li>
                </ul>
                <div class="box-content">
                    <h3 class="title">Williamson</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box5">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-2.jpg" alt="">
                <ul class="icon">
                    <li><a href="#" class="fa fa-search"></a></li>
                    <li><a href="#" class="fa fa-link"></a></li>
                </ul>
                <div class="box-content">
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box5">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo160/images/img-3.jpg" alt="">
                <ul class="icon">
                    <li><a href="#" class="fa fa-search"></a></li>
                    <li><a href="#" class="fa fa-link"></a></li>
                </ul>
                <div class="box-content">
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>
    </div>
</div>